* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  position: sticky;
  top: 0;
  background: #020617;
}

header a {
  color: #e5e7eb;
  text-decoration: none;
  margin-left: 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #22d3ee;
}

section {
  padding: 80px 10%;
}

.hero h1 span {
  color: #22d3ee;
}

.hero h1 {
  font-size: 48px;
}

.hero h2 {
  margin-top: 10px;
  font-weight: normal;
}

.hero p {
  margin: 20px 0;
}

.buttons .btn {
  padding: 12px 25px;
  background: #22d3ee;
  color: #020617;
  text-decoration: none;
  margin-right: 15px;
  border-radius: 6px;
}

.btn-outline {
  background: transparent;
  border: 2px solid #22d3ee;
  color: #22d3ee;
}

.about, .skills, .projects, .contact {
  text-align: center;
}

.skill-grid, .project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  margin-top: 40px;
}

.card, .project-card {
  background: #020617;
  padding: 20px;
  border-radius: 8px;
}

.project-card a {
  margin-right: 10px;
  color: #22d3ee;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
